{% extends 'layout.html' %}

{% block content %}

<div class="blog-content">
    <h1>{{content.title}}</h1>
    <p class="info">作者：<span>{{content.user.username}}</span> - 时间：<span>{{content.addTime|date('Y年m月d日 H时i分s秒')}}</span> - 阅读: <span>{{content.views}}</span> - 评论：<span>{{content.comments.length}}</span></p>
    <p class="description">{{content.description}}</p>
    <div class="article">{{content.content}}</div>
</div>
<div class="message">
    <h3 class="clear"><strong class="fl">评论</strong><span class="fr">一共有<em>{{content.comments.length}}</em>条评论</span></h3>
    {% if userInfo._id %}
    <p class="info"><span>admin</span></p>
    <p class="clear">
        <textarea class="fl" id="messageContent"></textarea>
        <input type="hidden" id="contentId" value={{content.id}}>
        <button class="fr" id="messageBtn">提交</button>
    </p>
    {% else %}
    <p class="info login-info">您还没有登录，请先登录！</p>
    {% endif %}
    {% if content.comments.length == 0 %}
    <p class="info message-info">还没有留言</p>
    {% endif %}
    <div id="messageList">
        
    </div>
    <ul class="pager clear">
        <li class="fl previous">上一页</li><li><span id="curPage"></span> / <span id="pages"></span></li><li class="fr next">下一页</li>
    </ul>
</div>

<script src="/public/js/comment.js"></script>
{% endblock %}